<table>
    <tr>
        <th>Nr Dokumentu</th><th>Termin Zapłaty</th><th>Kwota</th><th>Stan</th>
    </tr>
    {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.invoicenumber }}</td><td>{{ invoice.duedate|date('d-m-Y') }}</td><td>{{ invoice.amount }}</td><td>{{ invoice.state }}</td>
        </tr>
    {% endfor %}



</table>