{% extends 'base.html.twig' %}
{% block body %}
    <h1>Hej TY!</h1>
    <p>To twoje ostatnie ostrzeżenie albo ostatnie tchnienie!</p>
    {{ include('emails/parts/invoicetable.html.twig') }}
    {% if link == true %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}