<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Konrad Albrecht{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>
        <a href="{{ path('invoices_list') }}">Strona Domowa</a>
        <a href="{{ path('companies_list') }}">Edytuj firmę</a>
        <a href="{{ path('import_invoices') }}">Importuj wiekowanie</a>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
